<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <script src="https://kit.fontawesome.com/4456df0b79.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        
        <!-- swiper Plugin CSS -->
        <link rel="stylesheet" href="swiper/swiper-flashsale.css">
        <link rel="stylesheet" href="swiper/swiper-gudang.css">
        <link rel="stylesheet" href="swiper/swiper-rekomendasi.css">
        <link rel="stylesheet" href="swiper/swiper.css">
                                        
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Warung Tani</label>
            <ul>
                <li class="search">
                    <input type="search" placeholder="Search">
                    <label class="icon">
                        <span class="fa-solid fa-magnifying-glass"></span>
                    </label>
                </li>

                <div class="items">
                    <li><a href="#"><i class="fa-solid fa-bell" style="font-size: 28px; margin-right: 25px;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Keranjang.html"><i class="fa-solid fa-cart-shopping" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Profil.html"><i class="fa-solid fa-user" style="font-size: 28px;"></i></a></li>
                </div>
                
            </ul>
        </nav>
        <br><br><br><br><br><br>
        <h3 class="judul">FLASHSALE</h3>
        <section id="Flashsale">
            <div class="container swiper">
                <div class="slide-container-flashsale">
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesTimun.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Timun 10 KG</h4>
                                    <h4 id="normalprice"><s>Rp.30.000</s></h4>
                                    <h4 id="discountprice">Rp.19.999-</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesApel.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Apel Fuji 7 KG</h4>
                                    <h4 id="normalprice"><s>Rp.35.000</s></h4>
                                    <h4 id="discountprice">Rp.24.999-</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesBeras.png" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Beras 5 KG</h4>
                                    <h4 id="normalprice"><s>Rp.50.000</s></h4>
                                    <h4 id="discountprice">Rp.39.999-</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesTomat.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Tomat 1 KG</h4>
                                    <h4 id="normalprice"><s>Rp.11.000</s></h4>
                                    <h4 id="discountprice">Rp.6.999-</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesJahe.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Timun 10 KG</h4>
                                    <h4 id="normalprice"><s>Rp.30.000</s></h4>
                                    <h4 id="discountprice">Rp.24.999-</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesTerong.jpeg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Buncis</h4>
                                    <h4 id="normalprice"><s>Rp.13.000</s></h4>
                                    <h4 id="discountprice">Rp.8.999-</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <div class="sebelahan">
            <h3 class="judul">Gudang Terdekat</h3>
            <a href="Tambah-gudang.html"><button id="tambah-gudang"><i class="fa-solid fa-square-plus"></i></button></a>
        </div>
        <section id="Gudang">
            <div class="container-gudang swiper">
                <div class="slide-container-gudang">
                    <div class="card-wrapper-gudang swiper-wrapper">
                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide"  onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-gudang swiper-slide" onclick="window.location.href='/Gudang.html'">
                            <div class="image-box-gudang">
                                <img src="imagesGudang-white.png" alt="">
                            </div>
                            <div class="gudang">
                                <div class="keterangan">
                                    <h4 id="nama">Gudang Buahbatu</h4>
                                    <h4 id="jarak">50 M</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next-gudang"></div>
                <div class="swiper-button-prev-gudang"></div>
                <div class="swiper-pagination-gudang"></div>
            </div>
        </section>

        <h3 class="judul">Rekomendasi</h3>
        <section id="Rekomendasi">
            <div class="container swiper">
                <div class="slide-container-rekomendasi">
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesWortel.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Timun 10 KG</h4>
                                    <h4 id="normalprice">Rp.30.000</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesTomat.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Apel Fuji 7 KG</h4>
                                    <h4 id="normalprice">Rp.35.000</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesBuncis.webp" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Beras 5 KG</h4>
                                    <h4 id="normalprice">Rp.50.000</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesCabai.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Tomat 1 KG</h4>
                                    <h4 id="normalprice">Rp.11.000</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesBayam.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Timun 10 KG</h4>
                                    <h4 id="normalprice">Rp.30.000</h4>
                                </div>
                            </div>
                        </div>
    
                        <div class="card swiper-slide" onclick="window.location.href='/Produk.html'">
                            <div class="image-box">
                                <img src="imagesKurma.jpg" alt="">
                            </div>
                            <div class="produk">
                                <div class="keterangan">
                                    <h4 id="nama">Buncis</h4>
                                    <h4 id="normalprice">Rp.13.000</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next-rekomendasi"></div>
                <div class="swiper-button-prev-rekomendasi"></div>
                <div class="swiper-pagination-rekomendasi"></div>
            </div>
        </section>
        <br><br>
        <footer id = "contact">
            <div class = "layar-dalam">
                <div class="footerproduk">
                    <h3>Pengguna</h3>
                    <a href="/Admin-page.html"><h4>Admin Page</h4></a>
                    <a href="/HomepageAfterLogin.html"><h4>Dashboard</h4></a>
                    <a href="/Keranjang.html"><h4>Keranjang</h4></a>
                    <a href="/Profil.html"><h4>Profil</h4></a>
                </div>
                <div class="footerlogo">
                    <div class="pembayaranluar"><img src="imagesLogo.png" alt=""></div>
                </div>
                <div class="footerpembayaran">
                    <h3>Pembayaran</h3>
                    <div class="pembayaranbank"><img src="imagesbank1.png" alt=""></div>
                    <div class="pembayaranbank"><img src="imagesbank2.png" alt=""></div>
                    <div class="pembayarandigital"><img src="imagesdigitalpayment.png" alt=""></div>
                </div>
            </div>
            <div class="garis-footer">
                <div class="copyright">
                    &copy; 2023 Warung Tani
                </div>
            </div>
        </footer>
        <!-- swiper Plugin JS -->
        <script src="swiper/swiper-bundle.min.js"></script>
        <!-- Set swiper -->
        <script src="swiper/swiper.js"></script>
    </body>
</html>