<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pembayaran</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/4456df0b79.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Warung Tani</label>
            <ul>
                <li class="search">
                    <input type="search" placeholder="Search">
                    <label class="icon">
                        <span class="fa-solid fa-magnifying-glass"></span>
                    </label>
                </li>
                <div class="items">
                    <li><a href="#"><i class="fa-solid fa-bell" style="font-size: 28px; margin-right: 25px;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Keranjang.html"><i class="fa-solid fa-cart-shopping" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Profil.html"><i class="fa-solid fa-user" style="font-size: 28px;"></i></a></li>
                </div>
            </ul>
        </nav>
        <br><br><br><br><br>
        <main>
            <div class="pilihan-pembayaran">
                <h2>Pilih Metode Pembayaran</h2>
                <p class="ringkasan">
                    Pembayaran Beragam Dengan Berbagai Macam Metode Pembayaran
                </p>
                <br>
                <img src="imagessecure-transaction.png" alt="">
                <br>
                <p>Jangan Khawatir Informasi anda aman bersama kami</p>
                <br>
                <p>Pilihan pembayaran :</p>
                <br>
                <div class="sebelahan">
                    <a href="/bri.html"><button class="normal"><img id="bri" src="imagesbri.png" alt=""></button></a>
                    <a href="/bca.html" ><button class="normal"><img id="bca" src="imagesbca.png" alt=""></button></a>
                    <a href="/mandiri.html"><button class="normal"><img id="mandiri" src="imagesmandiri.png" alt=""></button></a>
                </div>
                <div class="sebelahan pembayaran2">
                    <a href="/bni.html"><button class="normal"><img id="bni" src="imagesbni.png" alt=""></button></a>
                    <a href="/gopay.html"><button class="normal"><img id="gopay" src="imagesgopay.png" alt=""></button></a>
                    <a href="/ovo.html"><button class="normal"><img id="ovo" src="imagesovo.png" alt=""></button></a>
                </div>
            </div>
        </main>
        <br><br>
        <footer id = "contact">
            <div class = "layar-dalam">
                <div class="footerproduk">
                    <h3>Pengguna</h3>
                    <a href="/Admin-page.html"><h4>Admin Page</h4></a>
                    <a href="/HomepageAfterLogin.html"><h4>Dashboard</h4></a>
                    <a href="/Keranjang.html"><h4>Keranjang</h4></a>
                    <a href="/Profil.html"><h4>Profil</h4></a>
                </div>
                <div class="footerlogo">
                    <div class="pembayaranluar"><img src="imagesLogo.png" alt=""></div>
                </div>
                <div class="footerpembayaran">
                    <h3>Pembayaran</h3>
                    <div class="pembayaranbank"><img src="imagesbank1.png" alt=""></div>
                    <div class="pembayaranbank"><img src="imagesbank2.png" alt=""></div>
                    <div class="pembayarandigital"><img src="imagesdigitalpayment.png" alt=""></div>
                </div>
            </div>
            <div class="garis-footer">
                <div class="copyright">
                    &copy; 2023 Warung Tani
                </div>
            </div>
        </footer>
    </body>
</html>