<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proses Pengiriman</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/4456df0b79.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Warung Tani</label>
            <ul>
                <li class="search">
                    <input type="search" placeholder="Search">
                    <label class="icon">
                        <span class="fa-solid fa-magnifying-glass"></span>
                    </label>
                </li>
                <div class="items">
                    <li><a href="#"><i class="fa-solid fa-bell" style="font-size: 28px; margin-right: 25px;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Keranjang.html"><i class="fa-solid fa-cart-shopping" style="font-size: 28px;margin-right: 25px;"></i></a></li>
                    <li><a href="Profil.html"><i class="fa-solid fa-user" style="font-size: 28px;"></i></a></li>
                </div>
            </ul>
        </nav>
        <br><br><br><br>
        <main>
            <div class="sebelahan-product">
                <div class="product-page">
                    <img src="imagesApel.jpg" alt="">
                    <div class="description">
                    </div>
                </div>
                <div>
                    <br><br>
                    <div class="detail-proses-pengiriman">
                        <h4>Apel Fuji 7 KG</h4>
                        <h3>Rp. 30.000.,-</h3>
                        <div class="sebelahan">
                            <div class="sebelahan">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h4>5.0</h4>
                            </div>
                        </div>
                        <h4>5 RB Ulasan</h4>
                    </div>
                    <div class="sebelahan informasigudang detailgudang-proses">
                        <div class="icontoko-product">
                            <img src="imagesGudang.png" alt="">
                        </div>
                        <div>
                            <h5 class="namagudang">Gudang Buah Batu</h5>
                            <h5 class="levelgudang">JURAGAN PASAR</h5>
                        </div>
                        <a href="/Gudang.html"><button class="button-normal">Detail Gudang</button></a>
                    </div>
                    <h4 style="margin-bottom: 5px; margin-top: -8px;">Informasi Pemesan</h4>
                    <div class="sebelahan">
                        <div class="informasi-pelanggan">
                            <div class="sebelahan">
                                <h5>Nama Pelanggan :</h5>
                                <h5 class="keterangan-pelanggan">&nbsp;Muhammad Raihan Fauzi</h5>
                            </div>
                            <div class="sebelahan">
                                <h5>Email :</h5>
                                <h5 class="keterangan-pelanggan">&nbsp;telkomuniversity@gmail.com</h5>
                            </div>
                            <div class="sebelahan">
                                <h5>No Telp :</h5>
                                <h5 class="keterangan-pelanggan">&nbsp;08123456789</h5>
                            </div>
                            <div class="sebelahan">
                                <h5>Alamat :</h5>
                                <h5 class="keterangan-pelanggan">&nbsp;Jl.Telekomunikasi 1, Telkom university, Bandung</h5>
                            </div>
                        </div>
                        <div class="sebelahan status-pemesanan-produk">
                            <h5 class="keterangan-pelanggan">Status Pemesanan :</h5>
                            <h5 class="keterangan-pelanggan">&nbsp;Sedang Dikemas</h5>
                        </div>
                    </div>
                </div>
            </div> 
        </main>
        <br><br>
        <footer id = "contact">
            <div class = "layar-dalam">
                <div class="footerproduk">
                    <h3>Pengguna</h3>
                    <a href="/Admin-page.html"><h4>Admin Page</h4></a>
                    <a href="/HomepageAfterLogin.html"><h4>Dashboard</h4></a>
                    <a href="/Keranjang.html"><h4>Keranjang</h4></a>
                    <a href="/Profil.html"><h4>Profil</h4></a>
                </div>
                <div class="footerlogo">
                    <div class="pembayaranluar"><img src="imagesLogo.png" alt=""></div>
                </div>
                <div class="footerpembayaran">
                    <h3>Pembayaran</h3>
                    <div class="pembayaranbank"><img src="imagesbank1.png" alt=""></div>
                    <div class="pembayaranbank"><img src="imagesbank2.png" alt=""></div>
                    <div class="pembayarandigital"><img src="imagesdigitalpayment.png" alt=""></div>
                </div>
            </div>
            <div class="garis-footer">
                <div class="copyright">
                    &copy; 2023 Warung Tani
                </div>
            </div>
        </footer>
    </body>
</html>